<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\source\LinqToRest.Client.Tests\packages.config" />
  <repository path="..\source\LinqToRest.Client\packages.config" />
  <repository path="..\source\LinqToRest.IntegrationTests\packages.config" />
  <repository path="..\source\LinqToRest.Server.Tests\packages.config" />
  <repository path="..\source\LinqToRest.Server\packages.config" />
  <repository path="..\source\LinqToRest.Tests\packages.config" />
  <repository path="..\source\LinqToRest\packages.config" />
  <repository path="..\source\TestWebApiService\packages.config" />
</repositories>